<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="MysqlContext" targetRuntime="MyBatis3" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.102.206:3309/haimin_test"
                        userId="root"
                        password="mysql">
        </jdbcConnection>

        <javaModelGenerator targetPackage="com.social.commission.api.po" targetProject="E:\gitProject\social-commission-test\social-commission-api\src\main\java">
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapping"  targetProject="src\main\resources"/>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.social.commission.server.dao"  targetProject="src\main\java"/>

<!--        <table tableName="institution_info" domainObjectName="InstitutionInfoDto" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" >
            <generatedKey column="inst_id" sqlStatement="Mysql"/>
        </table>-->
        <table tableName="order_product" domainObjectName="OrderProductPO" mapperName="IOrderProductDao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" >
            <generatedKey column="order_product_id" sqlStatement="Mysql"/>
        </table>
    </context>
</generatorConfiguration>